body {
	font-family: monospace;
	font-size: 1.0rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;

	padding: 0 4rem;
}

th {
	background-color: lightgray;
	padding: 0.5rem;
	cursor: pointer;
}

th button {
	display: none;
}

td {
	padding: 0.5rem;
}

footer {
	margin-top: 4rem;
}

q {
	font-style: italic;
	quotes: none;
}
