* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	font-size: 1rem;
	margin: 0;
	overflow-x: hidden;
	padding: 0 2rem;
}

h1 {
	text-align: center;
}

section {
	overflow-x: auto;
	margin-bottom: 4rem;
}

button,
input,
select {
	font-size: 1rem;
	margin: 1rem 0;
	width: 20ch;
	text-transform: lowercase;
}

table {
	width: 100%;
}

th {
	cursor: pointer;
	background-color: lightgray;
	padding: 0.5rem 0;
}

th button {
	display: none;
}

#chart {
	aspect-ratio: 2/1;
	overflow: hidden;
}

nav {
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
}

footer {
	margin: 4rem 0;
	text-align: center;
}

q {
	cursor: help;
	font-style: italic;
	quotes: none;
}
