body {
	font-family: monospace;
	font-size: 1.0rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 4rem;
}

section {
	margin-bottom: 4rem;
}

button,
input,
select {
	font-size: 1rem;
	min-width: 8rem;
	text-transform: lowercase;
}

th {
	cursor: pointer;
	background-color: lightgray;
	padding: 0.5rem;
}

th button {
	display: none;
}

td {
	overflow: hidden;
	padding: 0 0.5rem;
	white-space: nowrap;
}

#chart {
	height: 80vh;
}

footer {
	margin: 4rem 0;
}

q {
	font-style: italic;
	quotes: none;
}
