body {
	font-family: monospace;
	font-size: 1.0rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 4rem;
}

section {
	margin-bottom: 4rem;
}

th {
	background-color: lightgray;
	padding: 0.5rem;
	cursor: pointer;
}

th button {
	display: none;
}

td {
	padding: 0 0.5rem;
	overflow: hidden;
	white-space: nowrap;
}

footer {
	margin: 4rem;
}

q {
	font-style: italic;
	quotes: none;
}
